[Unit]
Description=Back up Microfinity database and assets
After=postgresql.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/microfinity-backup
Nice=10
IOSchedulingClass=idle
